<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %> | TheBoard</title>
    <!-- Estilos globais -->
    <style>
      <%- include('../css/style.css'); %>
    </style>
  </head>
  <body>
    <!-- Cabeçalho -->
    <%- include('../components/header') %>

    <main class="container">
      <!-- Conteúdo específico da página -->
      <%- include(content) %>
    </main>

    <!-- Rodapé -->
    <%- include('../components/footer') %>
  </body>
</html> 